body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
  background-color: #353535;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #353535;
}

.auth-box {
  box-shadow: 20px 0px 20px #2a2a2a,
    -20px 0px 20px #404040;
  position: absolute;
  top: 0%;
  left: 30%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #ffefc8;
  height: calc(100vh - 30px);
  width: auto;
}

.login-box {
  position: relative;
  margin-bottom: 20px;
}

.login-box::after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  border-bottom: 3px solid #ad9a69;
}

.auth-box>* {
  width: 320px;
  text-align: center;
}

input[type="submit" i],
input[type="text" i],
input[type="password" i] {
  padding: 5px 10px 3px 10px;
  border: none;
  border-radius: 14px;
  font-size: medium;
  width: 280px;
  margin: 0px 0px 20px 0px;
}

input[type="submit" i] {
  background-color: #353535;
  color: #ffefc8;
  cursor: pointer;
  width: 230px;
  font-weight: bold;
}

label {
  margin: 5px 0px 2px 15px;
  font-weight: bold;
}

.btn {
  width: 85%;
}