body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
  background-color: #8eb8e5;
  transition: background-color 0.2s ease;
}

.navbar {
  box-sizing: border-box;
  padding: 5px 15px;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353535;
}

.searchbar {
  background-color: #fef9ec;
  border: none;
  width: 30vw;
  height: 32px;
  padding: 0 10px;
  border-radius: 14px;
  font-size: larger;
}

.post-btn,
.settings-btn,
.dark-mode-btn {
  background-color: #fef9ec;
  border: none;
  font-size: larger;
  padding: 5px 10px;
  height: 32px;
  border-radius: 14px;
  margin: 0 5px;
}

.menu-panel {
  position: fixed;
  left: 0;
  top: 50px;
  height: calc(100% - 50px);
  width: 160px;
  overflow-y: auto;
  background-color: #fef9ec;
  transition: background-color 0.2s ease;
}

.menu-panel>label {
  display: block;
  padding: 20px 20px 0px 20px;
  font-size: x-large;
  font-weight: bold;
}

.menu-button {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 10px 10px 20px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: larger;
}

.menu-button::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  border-bottom: 3px solid #fbe6b1;
}

.menu-button:last-child::after {
  border-bottom: none;
}

.menu-button:hover {
  background-color: #fbe6b1;
}

.dark-mode {
  background-color: #0F2843;
  color: #000000;
}

.dark-mode .menu-panel {
  background-color: #c68e00;
}

.dark-mode .menu-button::after {
  border-color: #f0b000;
}

.dark-mode .menu-button:hover {
  background-color: #f0b000;
}