<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/styles-forum.css">
</head>

<body>
    <header>
        <h1 class="title">Forum</h1>
        <div class="header-buttons">
            <a href="/login.html" class="icon-button">Connexion</a>
            <a href="/register.html" class="icon-button">Inscription</a>
        </div>
    </header>

    <section class="posts-section">
        {{range .Posts}}
        <div class="post">
            <h3>{{.Username}}</h3>
            <h4>{{.Title}}</h4>
            <p>{{.Content}}</p>
            <span>{{.CreatedAt}}</span>

            <div class="comments-section">
                {{range .Comments}}
                <div class="comment">
                    <p><strong>{{.Username}}:</strong> {{.Content}}</p>
                    <span>{{.CreatedAt}}</span>
                </div>
                {{end}}
            </div>
        </div>
        {{else}}
        <p>No posts available.</p>
        {{end}}
    </section>

    <footer>
        <p>Bienvenue invité! Vous pouvez voir les publications, mais vous devez vous connecter pour interagir.</p>
    </footer>
</body>

</html>