<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/styles-profile.css?v=1.0">
</head>

<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-bubble">
                <img src="/static/default-profile.png" alt="Profile Picture">
            </div>
            <h2>{{.Username}}</h2>
        </div>
        <div class="profile-details">
            <!-- Additional profile details can be added here -->
        </div>
    </div>
    <footer>
        <div class="nav-button">
            <button class="icon-button" onclick="window.location.href='/forum'">&#8962;</button>
            <p>Accueil</p>
        </div>
        <div class="nav-button">
            <button class="icon-button" onclick="window.location.href='/post'">&#43;</button>
            <p>Poste</p>
        </div>
        <div class="nav-button">
            <button class="icon-button" onclick="window.location.href='/profile'">
                <img src="/static/default-profile.png" alt="Profile Picture">
            </button>
            <p>Profil</p>
        </div>

        </div>
    </footer>
</body>

</html>